body,
html {
    background-color: gray;
    height: 100%;
    margin: 0;
}
#app,
#videos {
    position: relative;
    width: 100%;
    height: 100%;
}

.subscribers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: grid;
    gap: 16px;
}
.subscribers.ribbon {
    top: 10px;
    left: 11px;
    width: 364px;
    height: calc(100% - 272px);
    overflow: auto;
}
.subscribers.ribbon .subscriber {
    min-height: 240px;
}
.subscriber {
    width: 100%;
    height: 100%;
}

#publisher,
#screen-preview {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    border: 3px solid white;
    border-radius: 3px;
}
#publisher {
    z-index: 100;
}
#screen-preview {
    z-index: 110;
}
.publisherControls {
    position: absolute;
    z-index: 20;
    left: 390px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.workspace {
    position: absolute;
    z-index: 10;
    left: 384px;
    bottom: 10px;
    width: calc(100% - 392px);
    height: calc(100% - 20px);
}

.workspace.hidden {
    display: none;
}
.workspace iframe,
#screen-view {
    width: 100%;
    height: 100%;
}
